In [1]:
from ReturnCalculator.params import Params
from ReturnCalculator.return_calculator import ReturnCalculator
import pandas as pd

In [2]:
a = ReturnCalculator(1,100,10)
a.params

{'tax': {'aktiesparekonto': 0.17,
  'lav_aktieskat': 0.27,
  'high_aktieskat': 0.42},
 'return': 0.07}

In [3]:
a.df

   Period  InitialAmount  MonthlyContribution
0       1            100                   10

In [10]:
a.return_numbers

(11.154860982027571,
 [100.58333333333334,
  111.22840277777779,
  121.93556846064816,
  132.70519261000192,
  143.5376395668936,
  154.43327579770047,
  165.3924699065204,
  176.41559264764177,
  187.50301693808635,
  198.65511787022518,
  209.87227272446816,
  218.14304851688013])

In [11]:
11.154860982027571*0.27

3.0118124651474445

In [6]:
a.initial_amaount + (a.monthly_contri*(a.period*12-1))

210

In [7]:
(a.monthly_contri*a.period*12-1)

119

In [8]:
219

219