In [1]:
import requests
from portfolio import Portfolio
import pandas as pd

In [2]:
a = Portfolio('marc')

Portfolio loaded.

In [6]:
a.stocks

  Ticker  Amount  Price  Value
0   AMZN       4     49    400
1   AMZN       4     49    400

In [4]:
owners = []
for i in a.portfolios:
    owners.append([i][0])

owners

['marc', 'peter']